
<div class="container " >
    <div class="row " >
        
        <div class="col time">
            <button mat-icon-button color="warn" mat-dialog-close class="in"> <i class="fa fa-times" aria-hidden="true"></i></button>
            <div class="row d-flex justify-content-center mb-3 ">
                <img src="assets/image/logo.png" alt="" class="rounded-circle px-0 " style="height: 70px; width: 70px;">
            </div>
            <div class="row d-flex justify-content-center mb-3">
                <h5 class="text-center">Admin name</h5>
            </div>
            <div class="row px-0">
                <mat-form-field class="example-full-width mb-3 px-0 ">
                    <input matInput placeholder="Enter Email Id" class="w-100 mb-4">
        
                    <input matInput placeholder="Enter Password" class="w-100">
                </mat-form-field>
            </div>
            <div class="row d-flex justify-content-center">
                <button mat-raised-button color="primary" class="btn-block px-4 w-50">Save</button> 
            </div>
        </div>
    </div>
    

</div>





<!-- <img src="assets/image/logo.png" alt="" class="rounded-circle px-0 justify-content-center" style="height: 70px; width: 70px;">
            <h4>admin name</h4>
        
    
        
            <mat-form-field class="example-full-width mb-4">

                <input matInput placeholder="Enter Email Id" class="w-100 mb-4">

                <input matInput placeholder="Enter Password" class="w-100">
            </mat-form-field>

        
            <button mat-raised-button color="primary" class="btn-block px-5">Log in</button> -->