<div class="d-flex justify-content-center align-items-center" style="height:100vh;">
    <div class="col-md-4">
        <div class="card card-shadow" style=" padding:15px 0px;">
            <div class="card-body">
                <div class="text-center">
                    <img src="assets/image/homelogo.png" alt="">
                </div>
                <form  [formGroup]="forgetPassword" class="" style="margin: 35px 0px;">
                    <div class="form-group">
                        <label for="">Enter your Registered Email here</label>
                        <input type="email" class="form-control" formControlName="email" id="email">
                        
                    </div>

                    <div class="form-group" style="margin-top:35px;">
                        <!-- <button  (click)="passwordSubmit()" class="btn btn-theme btn-block" type="button" data-bs-target="#link-sent-modal" data-bs-toggle="modal">Send Link</button> -->
                        <button  (click)="passwordSubmit()" class="btn btn-theme btn-block" type="button" >Send Link</button>

                        <div style="text-align: right;">
                            <span><a routerLink="../login">Back to Sign in</a></span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- link sent Modal -->
<div class="modal fade" id="link-sent-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="h2 text-success">
                        <i class="fa fa-check-square"></i>
                    </div>
                    <h4>Link has been sent</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- link sent Modal -->