<div class="nk-sidebar" >           
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
        <div class="nk-nav-scroll " style="overflow: hidden; width: auto; height: 100%;">
        <ul class="metismenu " id="menu" >
          
            <li >
                <a class="has-arrow d-flex nav-link" routerLinkActive="active" routerLink="/home/dashboard" aria-expanded="false">
                    <span><i class="fa fa-home" ></i> </span> <span class="nav-text text-hide">Dashboard</span>
                </a>
                
            </li>
           
           
            <li>
                <a class="has-arrow d-flex nav-link" routerLinkActive="active" routerLink="/home/user-management" aria-expanded="false">
                    <span><i class="fa fa-users" ></i> </span> <span class="nav-text text-hide">User Management</span>
                </a>
              
            </li>

            <li>
                <a class="has-arrow d-flex nav-link" routerLinkActive="active" routerLink="/home/subadmin" aria-expanded="false">
                    <span><i class="fa fa-user" ></i> </span><span class="nav-text text-hide">Sub Admin Management</span>
                </a>
              
            </li>

            <!-- <li>
                <a class="has-arrow d-flex nav-link" routerLinkActive="active" routerLink="/home/restrunt" aria-expanded="false">
                    <span><i class="fa fa-user" ></i> </span><span class="nav-text text-hide">Sub Admin Management</span>
                </a>
              
            </li> -->
            <!-- <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-home" ></i><span class="nav-text">Apps</span>
                </a>
              
            </li>
     
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-home" ></i><span class="nav-text">UI Components</span>
                </a>
          
            </li>
         
      
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-home" ></i><span class="nav-text">Forms</span>
                </a>
              
            </li>
     
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-home" ></i><span class="nav-text">Table</span>
                </a>
              
            </li> -->
         
         
        </ul>
    </div>
    <div class="slimScrollBar" style="background: transparent; width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 2814.62px;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
</div>