<div class="header">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top ">
        <div class="container-fluid">
          <a class="navbar-brand" href="javascript:void(0)" >
            <img src="assets/image/homelogo.png" height="50px" width="50px" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="menuOpen();">
                    <span><i class="fa fa-bars"></i></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                    <span><li class="fa fa-search"></li></span>    
                </a>
              </li>
              <li class="nav-item">
                <input class="form-control " type="text" placeholder="Search">
              </li>
            </ul>
            <div class="d-flex text-white ">

               

                <a href="javascript:void(0)" class="notification mx-2">
                    <span> <i class="fa fa-bell mx-2"></i></span>
                    <span class="badge">3</span>
                  </a>


                  <a href="javascript:void(0)" class="notification mx-2">
                    <span> <i class=" fa fa-envelope-o mx-2"></i></span>
                    <span class="badge">3</span>
                  </a>

               
            </div>

            

              <!-- <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" >English</a>
                <ul class="dropdown-menu header-dropdown1">
                  <li><a class="dropdown-item" href="javascript:void(0)">Link</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0)">Another link</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0)">A third link</a></li>
                </ul>
            </div> -->

            <div class="header-img">
                
                <div class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"><img src="assets/image/profile_image.jpg" alt="" width="25px" height="25px" style="border-radius: 50%;"></a>
                    <ul class="dropdown-menu header-dropdown">
                      <li><a class="dropdown-item" href="javascript:void(0)">Logout</a></li>
                      <li><a class="dropdown-item" href="javascript:void(0)">Another link</a></li>
                      <li><a class="dropdown-item" href="javascript:void(0)">A third link</a></li>
                    </ul>
                </div>


            </div>


            
          </div>
        </div>
      </nav>

</div>