<div id="wrapper">
    <app-header></app-header>
    <div class="layout-main dashboardPage">
        <app-left-sidebar></app-left-sidebar>
        <div class="layout-content">
            <div class="layout-content-body">
               <div class="container-fluid">
                <div class="title-bar">
                    <h1 class="title-bar-title">
                        <span class="">Dashboard</span>
                    </h1>
                </div>


                    <div class="row gutter-xs">

                        <div class="container mt-3">
                            <div class="row">
                               <div class="col-md-4">
                                  <div class="card">
                                     <div class="card-body">
                                        <p>Total number of users registered with the plateform.</p>
                                        <div class="d-flex justify-content-between">
                                           <h3>85068K</h3>
                                           <span><i class="fa fa-users fa-3x user-icon "></i></span>
                                        </div>
                                        <hr>
                                        <p>Total number of users recently joined.</p>
                                        <h3>85068K</h3>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-md-4">
                                  <div class="card">
                                     <div class="card-body">
                                        <p>Total number of users registered with the plateform.</p>
                                        <div class="d-flex justify-content-between">
                                           <h3>85068K</h3>
                                           <span><i class="fa fa-users fa-3x user-icon "></i></span>
                                        </div>
                                        <hr>
                                        <p>Total number of users recently joined.</p>
                                        <h3>85068K</h3>
                                     </div>
                                  </div>
                               </div>

                               <div class="col-md-4">
                                <div class="card">
                                   <div class="card-body">
                                      <p>Total number of users registered with the plateform.</p>
                                      <div class="d-flex justify-content-between">
                                         <h3>85068K</h3>
                                         <span><i class="fa fa-users fa-3x user-icon "></i></span>
                                      </div>
                                      <hr>
                                      <p>Total number of users recently joined.</p>
                                      <h3>85068K</h3>
                                   </div>
                                </div>
                             </div>

                               <div class="col-md-4 mt-3">
                                 <div class="card">
                                    <div class="card-body text-center">
                                     <h4><i class="fa fa-users fa-3x user-icon "></i></h4>
                                     <h3>85068K</h3>
                                      <p>Total number of users registered with the plateform.</p>
                                    </div>
                                 </div>
                               </div>

                               <div class="col-md-4 mt-3">
                                 <div class="card">
                                    <div class="card-body text-center">
                                     <h4><i class="fa fa-users fa-3x user-icon "></i></h4>
                                     <h3>85068K</h3>
                                      <p>Total number of users registered with the plateform.</p>
                                    </div>
                                 </div>
                             </div>

                             <div class="col-md-4 mt-3">
                                <div class="card">
                                   <div class="card-body text-center">
                                    <h4><i class="fa fa-users fa-3x user-icon "></i></h4>
                                    <h3>85068K</h3>
                                     <p>Total number of users registered with the plateform.</p>
                                   </div>
                                </div>
                             </div>
                              
                            </div>




                            <div class="row d-flex justify-content-center">                          
                                <div class="col-md-4 mt-3">
                                   <div class="card">
                                      <div class="card-body text-center">
                                       <h4><i class="fa fa-users fa-3x user-icon "></i></h4>
                                       <h3>Total Number of Food Order</h3>

                                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting, designing industry.</p>
                                      </div>
                                   </div>
                                </div>
 
                                <div class="col-md-4 mt-3">
                                 <div class="card">
                                    <div class="card-body text-center">
                                     <h4><i class="fa fa-users fa-3x user-icon "></i></h4>
                                     <h3>Total Number of Food Order</h3>

                                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting, designing industry.</p>
                                    </div>
                                 </div>
                              </div>
 
                             
                               
                             </div>
                         </div>

                    
                    </div>
               </div>

                
            </div>
        </div>
    </div>
</div>
