<!-- 
<div class="container " >
    <div class="row " >
        
        <div class="col time">
            <button mat-icon-button color="warn" mat-dialog-close class="in"> <i class="fa fa-times" aria-hidden="true"></i></button>
            <div class="d-flex align-items-center justify-content-center ">
                <div class="selectphoto ">
                    <div class="imgbtn">
                        <button class="btn btn-sm btn-outline-grey" >
            
                            <div class="img" >
                                <img *ngIf="profile_image" src={{profile_image}} style="width:100%;" style=" border-radius: 50%;"/>
                                <img *ngIf="!profile_image" id="profile_image" src="assets/image/placeholder.jpg" style=" border-radius: 50%;"/>
                                <div class="file-upload imgupl">
                                    <input type="file" name="somename" (change)="multipleFiles1($event)" style="opacity: 0;" />
                                </div>
                            </div>
            
                        </button>
                    </div>
                </div>
            </div>
           
            <div class="row px-0">
                <mat-form-field class="example-full-width mb-3 px-0 ">
                    <input matInput placeholder="Enter sub admin name" class="w-100 mb-2">
                    <input matInput placeholder="Enter sub admin contact number" class="w-100 mb-2">
                    <input matInput placeholder="Enter sub admin Email Id" class="w-100 mb-2">
                    <input matInput placeholder="Enter sub admin Id" class="w-100 mb-2">
                    <input matInput placeholder="Enter sub admin Password" class="w-100">
                </mat-form-field>
            </div>
          
        </div>
    </div>
    

</div>




<div class="row d-flex justify-content-center mb-3 ">
    <img src="urllink" alt="" class="rounded-circle px-0 " style="height: 70px; width: 70px;">
    <button mat-icon-button color="warn" mat-dialog-close class="in"> <i class="fa fa-times" aria-hidden="true"></i></button>
</div> -->
