<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-4">
        <div class="card padding-15-0 card-shadow">
            <div class="card-body">
                <div class="text-center">
                    <img src="assets/image/homelogo.png" alt="">
                </div>
                <form  [formGroup]="resetPassword" class="" style="margin: 35px 0px;" >
                    <div class="form-group">
                        <label>Enter New Password</label>
                        <input type="password" class="form-control" formControlName="newPassword">
                        <div class="text-danger invalid-message" *ngIf="submitted && f.newPassword.errors">
                            <div *ngIf="f.newPassword.errors.required">Password is required
                            </div>
                        </div>
                       
                    </div>
                    <div class="form-group" style="margin-top: 25px;">
                        <label>Confirm New Password</label>
                        <input type="password" class="form-control" formControlName="confirmPassword" >
                        <div class="text-danger invalid-message" *ngIf="submitted && f.confirmPassword.errors">
                            <div *ngIf="f.confirmPassword.errors.required">ConfirmPassword is required
                            </div>
                            <div *ngIf="f.confirmPassword.errors.confirmedValidator">Password must be same
                            </div>
                        </div>
                       
                    </div>
                    <div class="form-group " style="margin-top: 35px;">
                        <button (click)="passwordSubmit()" class="btn btn-theme btn-block" type="button" data-bs-toggle="modal" data-bs-target="#password-change-modal">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- link sent Modal -->
<div class="modal fade" id="password-change-modal" *ngIf="resetPassword.valid">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="h2 text-success">
                        <i class="fa fa-check-square"></i>
                    </div>
                    <h4>Password Changed Successfully</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- link sent Modal -->