

.nk-sidebar {
    width: 230px;
    padding-bottom: 112px;
    height: 100%;
    position: fixed;
    top: 79px;
    padding-top: 0;
    z-index: 99;
    background: #1F70C1;
    transition: all .2s ease;
}

.nk-sidebar .metismenu a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 0.6rem 1.25rem;
    outline-width: 0;
    transition: all .3s ease-out;
    color: #ffffff;
    font-size: 15px;
}


.nk-sidebar .metismenu  li a  i {
    font-size: 0.95rem;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0.4375rem 0 0;
    color: #ffffff;
}




.nk-sidebar .metismenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #1F70C1;
}


.nk-sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #fafafa;
    
}


.metismenu {
    transition: all .4s ease-in-out;
}



.nk-sidebar .metismenu a:hover {
    text-decoration: none;
    background-color: #F3F1FA;
    color: #1E71C1;
}

.nk-sidebar .metismenu  li a:hover  i {
   
    color: #1E71C1;
}

.nk-sidebar .metismenu ul a {
    padding: 0.625rem 0.9375rem 0.625rem 2.8125rem;
}



/*************************** header css *************************/
.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    padding-right: 97px!important;
    padding-left: 70px;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    /* background: red; */
}

.header-dropdown, .header-dropdown1 {
        position: absolute;
        z-index: 1000;
        display: none;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 0.25rem;
}


.header-dropdown[data-bs-popper] {
    top: 100%;
    left: -100px!important;
    margin-top: 12px;
}

.header-dropdown1[data-bs-popper] {
    top: 100%;
    left: -75px!important;
    margin-top: 12px;
}

.navbar{
    padding-top: 9px!important;
        padding-bottom: 9px!important;
}



.notification {
    color: #1f70c1;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}
  
  /* .notification:hover {
    background: red;
  } */
  
  .notification .badge {
    position: absolute;
    top: -5px;
    right: 0px;
    padding: 2px 6px;
    border-radius: 50%;
    background: red;
    color: white;
}

.navbar{
    /* background-color: #1f70c1!important; */
    background-color: #f5f7f9!important;
    box-shadow: 0px 3px 6px #00000029;
}



.navbar-dark .navbar-nav .nav-link {
    color:#1f70c1!important;
}

.nav-link{
    color: #1f70c1!important;
}

.notification:hover{
    color: #1f70c1!important;
}



/* login */
.card-shadow {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}


.btn-theme {
    background: transparent linear-gradient(0deg, #1f70c1 0%, #318EEA 100%) 0% 0% no-repeat;
    color: #fff;
    border-radius: 4px;
    border: 2px solid transparent;
    width: 100%;
}

.btn-theme:focus {
    color: #1f70c1!important;
    border-color: #1f70c1;
    font-weight: bold;
    background: white;
}

.btn-theme:hover {
    color: #ffffff;;
}

a{
    cursor: pointer;
}


.layout-content-body{
    margin-left: 230px;
    overflow: hidden;
    overflow-y: auto;
    margin-top:95px;
    margin-bottom: 10px!important;
    padding-bottom: 10px;
}

.title-bar-title {
    font-size: 22px;
    font-weight: 600;
}


.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

.form-select:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

.btn-danger:focus {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
    box-shadow:none;
}

.btn:focus{
    box-shadow: none!important;
}


/* toggle-button */
.post-switch input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.post-switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 23px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    margin-bottom: 0px;
}
.post-switch label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.post-switch input:checked + label { 
	background: #008000;
}

.post-switch input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.post-switch label:active:after {
	width: 20px;
}

td.mat-cell {
font-size: 12px!important;
}

/* th.mat-header-cell {
    padding: 0px 8px!important;
} */

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 0px 7px!important;
}

th.mat-header-cell {
    text-align: center!important;
}

td.mat-cell{
    text-align: center!important;
}



.text-remove li .text-hide{
    display: none;
}
.nav-link{
    color: #fff !important;

}
.nav-link.active span i{
    color: #1E71C1 !important;
}
.nav-link.active{
    color: #1E71C1 !important;
    border: none !important;
    border-radius: 0;
    background: #fff;
   
}

/* .navbar{
    z-index: -1;
} */


/* upload image */

.file-upload input {
    opacity: 0;
    position: absolute;
    z-index: 999999;
    top: 0px;
    left: 1px;
    height: 40px;
    width: 46px;
    }
    
    .file-upload {
    padding: 10px;
    border: 1px solid lightgray;
    }
    
    .is-primary {
    padding: 0;
    border: none;
    background: transparent;
    position: relative;
    }
    
    .file-upload img {
    height: 40px;
    width: 40px;
    }
    
    .cameradiv {
    position: absolute;
    left: 120px;
    bottom: 75px;
    }
    
    .img img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    }
/* upload image */


